$dashboardSpace: 6vw;
$navbarHeight: 13vh;
$primaryColor: #ff0dbf;
$primaryColorDarker: #cc0a99;
$primaryColorDark: #b30986;
$primaryColorExtraDark: #800760;
$primaryColorLight: #ff86df;
$primaryGrey: rgb(35, 35, 35);
$primaryGreyBrighter: #393939;
$primaryGreyBright: #656565;
$primaryGreyExtraBright: #919191;
$titleFS: 2.2vw;
$textFS: 0.83vw;
