@import "../../../../app/styles/variables.scss";
.container {
  .form {
    width: 60%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    @media (max-width: 480px) {
      width: 90%;
      margin-right: auto;
    }
    @media (max-width: 1024px) and (orientation: landscape) {
      width: 90%;
      margin-right: auto;
    }
    .row {
      display: flex;
      width: 100%;
      &:nth-child(2) {
        margin-top: 0.5em;
        @media (max-width: 480px) {
          flex-direction: column;
        }
        @media (max-width: 1024px) and (orientation: landscape) {
          flex-direction: column;
        }
        .field:nth-child(2) {
          width: 25%;
          @media (max-width: 480px) {
            width: 100%;
          }
          @media (max-width: 1024px) and (orientation: landscape) {
            width: 100%;
          }
        }
      }
      .field {
        flex-grow: 1;

        .dateContainer {
          display: flex;
          align-items: center;
        }
        .input {
          width: 100%;
          height: 2.5rem;
          background-color: rgb(35, 35, 35);
          border: 0.05em solid white;
          border-radius: 0.4em;
          font-size: 1em;
          padding-left: 1em;
          margin-top: 0.4em;

          color: white;
          &:focus {
            border: 0.05em solid $primaryColor;
          }
          &::placeholder {
            color: #a2a2a2;
            text-align: left;
          }
        }
        .inputError {
          border: 0.05em solid red;
        }
        .error {
          color: red;
          font-weight: bold;
          font-size: 0.8em;
          padding-top: 0.1em;
          padding-left: 0.2em;
        }
      }
      .fieldMobile + .field {
        padding-left: 1.5em;
        @media (max-width: 480px) {
          padding-left: 0em;
          padding-top: 0.5em;
        }
        @media (max-width: 1024px) and (orientation: landscape) {
          padding-left: 0em;
          padding-top: 0.5em;
        }
      }
      .fieldDesktop {
        display: block;
        @media (max-width: 480px) {
          display: none;
        }
        @media (max-width: 1024px) and (orientation: landscape) {
          display: none;
        }
      }
      .fieldMobile {
        display: none;
        @media (max-width: 480px) {
          display: block;
        }
        @media (max-width: 1024px) and (orientation: landscape) {
          display: block;
        }
      }
    }
    .button {
      background-color: none;
      border: none;
      width: 11.5em;
      height: 2.5em;
      background-color: $primaryColor;
      align-self: end;
      margin-top: 1.5em;
      color: white;
      font-weight: bold;
      border-radius: 0.5em;
      font-size: 0.95em;
      cursor: pointer;

      &:hover {
        background: white;
        color: $primaryColor;
      }
    }
  }
}
