@import "../../../../app/styles/variables.scss";
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  @media (orientation: portrait) {
    height: auto;
    overflow: hidden;
  }
  .content {
    position: relative;
    height: 27.05vw;
    width: 69vw;
    @media (orientation: portrait) {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: auto;
      padding: 0 5vw;
    }
    .titleCard {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 18.8vw;
      width: 30vw;
      background-color: $primaryColor;
      border-radius: 1.6vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      overflow: hidden;
      @media (orientation: portrait) {
        position: static;
        margin: 5vh auto;
        width: 100%;
        height: 55vw;
        border-radius: 7.5vw;
      }
      .text {
        .paragraph {
          font-size: 1.16vw;
          text-align: center;
          @media (orientation: portrait) {
            font-size: 4.4vw;
            text-align: center;
          }
        }
        .discount {
          font-weight: bold;
          font-size: 7.3vw;
          line-height: 1;
          padding-left: 0.3vw;
          @media (orientation: portrait) {
            font-size: 13.5vw;
            padding-left: 0;
            text-align: center;
            padding-top: 0.5vh;
          }
        }
        .subTitle {
          font-size: $titleFS;
          font-weight: bold;
          @media (orientation: portrait) {
            font-size: 8.8vw;
            text-align: center;
          }
        }
      }
      .button {
        margin-top: 2vh;
        background-color: $primaryColor;
        font-size: 0.8vw;
        border: 0.12vw solid white;
        width: 7.5vw;
        height: 2.2vw;
        border-radius: 1.05vw;
        font-weight: bold;
        font-family: roboto;
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s, color 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: white;
          color: $primaryColor;
        }
        @media (orientation: portrait) {
          width: 30vw;
          height: 5.3vh;
          border-radius: 5vw;
          font-size: 1.65vh;
          border-width: 0.3vh;
          margin-top: 3vh;
        }
      }
    }
    .tracks {
      position: relative;
      height: 100%;
      @media (orientation: portrait) {
        & {
          height: 150vw;
        }
      }
      .track {
        position: absolute;
        z-index: 0;
        height: 27vw;
        width: 20vw;
        @media (orientation: portrait) {
          & {
            height: 75vw;
            width: 50vw;
          }
        }

        .image {
          display: block;
          height: 100%;
          width: 100%;
          border-radius: 1.5vw;
          @media (orientation: portrait) {
            & {
              border-radius: 7vw;
            }
          }
        }
      }
      .trackOne {
        top: 0;
        left: 40%;
        @media (orientation: portrait) {
          & {
            left: 0;
          }
        }
      }
      .trackTwo {
        top: 27%;
        left: 62%;
        @media (orientation: portrait) {
          & {
            right: 0;
            top: 10%;
            left: auto;
          }
        }
        .image {
          box-shadow: 0 0 10px 0.5px #555;
        }
      }
      .trackThree {
        top: 6%;
        left: 75%;
        @media (orientation: portrait) {
          & {
            left: 10%;
            top: 45%;
          }
        }
        .image {
          box-shadow: 0 0 10px 0.5px #222;
        }
      }
    }
  }
}
