.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  .header {
    .text {
      font-weight: bold;
      font-size: 2.5rem;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .row {
      &:nth-child(1) {
        display: flex;
        gap: 2em;
      }
      &:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        .button {
          width: 15rem;
        }
      }
      .field {
        width: 50%;
      }
    }
    .success {
      color: #388e3c;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }
  }
}
