@import "../../app/styles/variables.scss";
$mobileSummaryHeight: 230px;
.container {
  width: 100%;
  height: calc(100vh - $navbarHeight);
  background-color: black;
  display: flex;

  justify-content: center;
  .content {
    max-width: 1400px;
    width: 100%;
    display: flex;
    @media (max-width: 480px) {
      position: relative;
      margin-top: 1em;
    }
    @media (max-width: 1024px) and (orientation: landscape) {
      position: relative;
      margin-top: 1em;
    }
    .cart {
      flex-grow: 1;

      @media (max-width: 480px) {
        padding-bottom: $mobileSummaryHeight + 20;
        flex-grow: 0;
        width: 95%;
        margin: 0 auto;
        height: fit-content;
      }
      @media (max-width: 1024px) and (orientation: landscape) {
        padding-bottom: $mobileSummaryHeight + 20;
        flex-grow: 0;
        width: 95%;
        margin: 0 auto;
        height: fit-content;
      }
    }
    .summary {
      width: 18%;
      margin-left: 2em;
      background-color: black;
      @media (max-width: 480px) {
        position: fixed;
        height: $mobileSummaryHeight;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 3px 1.5px #333;
        margin-left: 0;
        padding-top: 0.5em;
        width: 100%;
      }
      @media (max-width: 1024px) and (orientation: landscape) {
        position: fixed;
        height: $mobileSummaryHeight;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 0 0 3px 1.5px #333;
        margin-left: 0;
      }
    }
  }
}
