@import "../../app/styles/variables.scss";
.container {
  background-color: black;
  padding-top: 2em;
  display: flex;
  flex-grow: 1;
  .leftEmptySpace {
    flex-grow: 6;
  }
  .content {
    width: 100%;
    max-width: 900px;
    height: 100px;
    color: $primaryColor;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 3.6em;
      margin-bottom: 0.5em;
      @media (max-width: 480px) {
        margin-left: 5%;
      }
      @media (max-width: 1024px) and (orientation: landscape) {
        text-align: center;
        margin-left: 5%;
      }
    }
  }
  .rightEmptySpace {
    flex-grow: 8;
  }
}
