.container {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  box-shadow: 0 0 5px #222;
  .content {
  }
}
