@import "../../../../app/styles/variables.scss";
.container {
  min-height: 100vh;
  width: 100%;
  padding-top: 25vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (orientation: portrait) {
    padding-top: 0vh;
  }
  .content {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    margin-bottom: 3vh;
    padding-left: $dashboardSpace;
    padding-right: $dashboardSpace;
    display: flex;
    justify-content: space-between;
    @media (orientation: portrait) {
      display: flex;
      flex-direction: column;
    }
    .title {
      color: white;
      font-size: $titleFS;
      @media (orientation: portrait) {
        text-align: center;
        font-size: $titleFSPortrait;
      }
    }
    .button {
      border: 0.11vw solid white;
      background-color: black;
      border-radius: 1.02vw;
      height: 2vw;
      width: 6.9vw;
      color: white;
      font-size: 0.85vw;
      cursor: pointer;
      @media (orientation: portrait) {
        width: 13vh;
        height: 4.8vh;
        border-radius: 2.3vh;
        border-width: 0.3vh;
        margin: 0 auto;
        margin-top: 5vh;
        font-size: 1.5vh;
      }
    }
  }
}
