.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  .header {
    .text {
      font-weight: bold;
      font-size: 2.5rem;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .row {
      &:nth-child(1) {
        .field {
          width: calc(50% - 1em);
        }
      }
      &:nth-child(2) {
        display: flex;
        gap: 2em;
      }
      &:nth-child(3) {
        display: flex;
        justify-content: flex-end;
        .button {
          width: 15rem;
        }
      }
      .field {
        width: 50%;
      }
    }
  }
}
