@import "../../../../../../app/styles/variables.scss";
.container {
  position: relative;
  color: white;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow: hidden;

  .arrowContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .leftArrow {
      position: absolute;
      z-index: 5;
      top: 50%;
      transform: translateY(-50%);
      left: 1%;
      cursor: pointer;
      .icon {
        font-size: 1.5vw;
        @media (orientation: portrait) {
          font-size: 9vw;
        }
      }
    }
    .rightArrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1%;
      z-index: 5;
      cursor: pointer;
      .icon {
        font-size: 1.5vw;
        @media (orientation: portrait) {
          font-size: 9vw;
        }
      }
    }
  }
  .carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    position: relative;
    overflow: hidden;
    @media (orientation: portrait) {
      & {
        height: 100vw;
      }
    }

    .box {
      position: absolute;
      display: flex;
      justify-content: center;
      left: 0;
      top: 0%;
      width: calc(100% / var(--elements));
      flex-shrink: 0;
      transition: transform 0.5s, opacity 0.2s;
      .item {
        position: relative;
        aspect-ratio: 1/1;
        width: 88%;
        @media (orientation: portrait) {
          & {
            width: 66%;
          }
        }
        .content {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;

            &:hover {
              transform: scale(1.3);
            }
          }
        }
        .download {
          position: absolute;
          top: 2%;
          right: 2%;
          width: 2.3vw;
          height: 2.3vw;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(192, 192, 192);
          .icon {
            color: black;
            font-size: 1.1vw;
            font-weight: 200;
          }
        }
        .action {
          display: flex;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          flex-direction: column;
          align-items: center;
          margin-top: 1.2vh;
          .name {
            font-weight: bold;
            font-size: 0.95vw;
            @media (orientation: portrait) {
              & {
                font-size: 2.2vh;
              }
            }
          }
          .price {
            font-size: 0.855vw;
            margin-top: 0.2vh;
            @media (orientation: portrait) {
              & {
                font-size: 2vh;
                margin-top: 1vh;
              }
            }
          }
          .button {
            background-color: $primaryColor;
            border: none;
            margin-top: 0.5vh;
            width: 16vw;
            height: 2.2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;
            cursor: pointer;
            @media (orientation: portrait) {
              & {
                width: 50vw;
                height: 5vh;
              }
            }
            &:hover {
              background-color: $primaryColorDarker;
            }
            .text {
              font-weight: bold;
              font-size: 0.82vw;
              color: white;
              @media (orientation: portrait) {
                & {
                  font-size: 2vh;
                }
              }
            }
          }
        }
      }
    }
  }
}
