@import "../../../../app/styles/variables.scss";
.container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: black;
  color: white;
  @media (orientation: portrait) {
    & {
      height: 35vh;
    }
  }
  .content {
    .text {
      .title {
        font-size: $titleFS;
        margin-bottom: 2vh;
        text-align: center;
        @media (orientation: portrait) {
          & {
            font-size: 4vh;
          }
        }
      }
      .paragraph {
        text-align: center;
        font-size: $textFS;
        @media (orientation: portrait) {
          & {
            font-size: 2.5vh;
          }
        }
      }
    }
    .form {
      margin-top: 5vh;
      @media (orientation: portrait) {
        & {
          margin-top: 3vh;
        }
      }
      .fieldName {
        font-size: $textFS;
        text-align: center;
        margin-bottom: 0.5vh;
        @media (orientation: portrait) {
          & {
            font-size: 2vh;
          }
        }
      }
      .field {
        width: 27vw;
        height: 5.21vw;
        display: flex;
        flex-direction: column;
        border-radius: 0.75vw;
        border: 0.11vw solid white;
        background-color: white;
        overflow: hidden;
        @media (orientation: portrait) {
          & {
            width: 92%;
            margin: 0 auto;
            height: 10vh;
            border-radius: 4vw;
            border-width: 0.6vw;
          }
        }
        .input {
          width: 100%;
          height: 50%;
          background-color: black;
          border: none;
          text-align: center;
          color: white;
          font-size: 1vw;
          @media (orientation: portrait) {
            & {
              font-size: 1.8vh;
            }
          }
        }
        .button {
          width: 100%;
          height: 50%;
          background-color: white;
          border: none;
          font-weight: bold;
          font-family: montserrat;
          font-size: $textFS;
          cursor: pointer;
          transition: background-color 0.3s, color 0.2s;
          @media (orientation: portrait) {
            & {
              font-size: 1.8vh;
            }
          }
          &:hover {
            background-color: $primaryColor;
            color: white;
          }
        }
      }
    }
  }
}
