body{
    color: white;
    padding:0;
    margin:0;
    // overflow: hidden;
    background-color: black;
}
.cointaner{
    color:white;
     width: 950px;
      margin: auto;
}

.line{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 100%;
    // justify-content:space-between;
}
.Time{
    text-align: center;
}
.hashtag{
    box-sizing: content-box;
    border:2px solid #ff0dbf;
    border-radius: 20px;
    text-align: center;
    padding:10px 30px;
    height:20px;
}
.shopAll{
padding:50px;
color: #ff0dbf;
font-size: 4rem;
font-weight: 600;
}
.download{
    font-size:25px;
    border:none;
    border:1px solid #ff0dbf;
    border-radius: 5px;;
    padding: 5px 10px;
    background-color: #ff0dbf;
    color:white;
    box-shadow: none;
    margin:50px;
    margin-left: 80px;
    margin-right:10px;
}
.buy{
    font-size:15px;
    border:none;
    border:1px solid #ff0dbf;
    color:white;
    border-radius: 5px;;
    background-color: #ff0dbf;
    width:150px;
    margin-top: 10px;
    margin:auto;
    margin-left:0;
    padding:11px;
    max-width:90px;
    margin-right:0;
    align-self: flex-end;
    float:right;
}
.search{
    display:block;
margin:50px auto;
width:600px;
padding:15px 10px 10px 10px;
font-size: 15px;
background-color: rgba(40,40,40,0.5);
color:white;
border:none;

}

.forms{
    background-color: #ff0dbf;
    color:white;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
}

.input{
    color:white;
}

::-webkit-input-placeholder {
    text-align: center;
    color:white;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color:white;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center; 
    color:white; 
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    color:white;
 }

 .styledselect {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-color: #ff0dbf;
    color:white;
    [class$="ValueContainer"] {
        min-height: 28px !important;
        max-height: 28px;
    }
    [class$="IndicatorsContainer"] {
        min-height: 28px !important;
        max-height: 28px;
    }
    [class$="-Input"] {
        min-height: 28px !important;
        max-height: 28px;
        padding: 0px;
    }
    [class$="-control"] {
        min-height: 28px !important;
        max-height: 28px;
  }
}
.ul{
    background-color: #ff0dbf;
}
.ulTracks{

    background-color: transparent;
}

ul{
    
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top:0px;
    padding-bottom:0px;
}
ul::-webkit-scrollbar {
    display: none;
  }

  .Icon{
      font-size:40px;
      margin-right: 20px;
  }

